@import url(http://weloveiconfonts.com/api/?family=iconicstroke);

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Acme', sans-serif;
  font-size: 27px;
}

.navbar.navbar-default {
  background: none;
  border: none;
  z-index: 100;
}

.header {
  border: none!important;
}

.footer {
  border: none!important;
}

/*main page settings*/
#main-container {
  position: relative
}
.main-title {
  color: black;
  text-shadow: 1px 1px 8px #DB4141;
  text-align: center;
  width: 100%;
  z-index: 1;
}

#title {
  top: 40vh;
  position: absolute;
  left: 47vw;
  transform: translate(-50%, -50%);
}

/* invert colors*/
.invert-color {
  color: #DB4141 !important;
  text-shadow: 1px 1px 8px black;
}

/*flex buttons*/
.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin: auto;
}

/*add opacity*/
.text-container {
  opacity: 0.91;
}

/*big font*/
.big-font {
  font-size: 49px;
}

/*navbar settings*/
.navbar-default .navbar-brand {
  color: black;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #DB4141;
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: black;
  background-color: #DB4141;
}

/* more buttons settings*/
.buttons-main {
  color: inherit;
  background: black;
  padding: 8px 30px;
  border-radius: 25px;
  max-width: 450px;
  margin: 10px auto 10px;
}

.button-center {
  margin: auto;
}

.centered {
  text-align: center;
}

.event-list  {
  list-style: none;
  text-align: center;
  margin-top: 15px;
  position: relative;
}

/*input forms settings*/
.input-text {
  text-align: center;
  min-width: 250px;
  height: 32px;
  width: 100%;
}

input, textarea {
    background: none;
    border: none;
    color: #DB4141;
}

/*event container settings*/
.event-container {
  text-align: center;
  background: black;
  border-radius: 25px;
}

#events-list {
  display: flex;
  flex-wrap: wrap;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #DB4141 !important;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
}

.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  opacity: 0.91;
  border: none!important;
  background: black;
  padding: 15px;
}

.icon-bar {
  background-color: #DB4141!important;
  width: 30px;
  height: 5px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-nav > li > a {
  opacity: 0.91;
  color: #DB4141;
  text-align: center;
  background: black;
  margin: 4px 0px;
  border-radius: 25px;
}

.bg{
  height: 100vh;
  background-image: url('/images/seth-reese-599260-unsplash-small.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed;
}

#logged {
  text-align: center;
}

#username {
  overflow: hidden;
  font-size: 0.9em;
}

.button-add {
  width: 60px;
  height: 60px;
  padding: 2px 0 0 15px;
  font-size: 1.5em;
  margin-bottom: 10px;
  cursor: pointer;
}
/*remove events button*/
.button-remove {
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 0;
  border: 1px solid;
  width: 48px;
  height: 48px;
  font-size: 1.5em;
  cursor: pointer;
}

.symbol-rmv {
      position: absolute;
      left: 10px;
      top: -4px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.disabled {
  display: none!important;
}

@media screen and (max-width: 480px) {
  .input-text {
    font-size: 0.6em;
  }
}