<div ng-init="login.getCurrentUser()"></div>
<section id="login">
    <form class="main-title">
        <label for="login-email">Email</label><br>
        <div class="buttons-main text-container">
            <input id="login-email" class="input-text" type="text" name="email" ng-model="login.email" required>
        </div><br>
        <label for="login-pwd">Password</label><br>
        <div class="buttons-main text-container">
            <input id="login-pwd" class="input-text" type="password" name="password" ng-model="login.password" required>
        </div><br>
        <input class="invert-color buttons-main text-container" type="submit" value="Sign In" ng-click="login.logIn()">
    </form>
</section>
<section id="logged" class="disabled">
    <div class="event-container invert-color text-container">
        <p id="username"></p>
    </div>
    <input class="button-center buttons-main text-container invert-color" type="submit" ng-click="login.logOut()" value="Log-Out">
    <input class="button-center buttons-main text-container invert-color" type="submit" ui-sref="events" id="signin-title" value ="Events">
</section>