<div id="main-container">
<section class='main-title' id="title">
    <p>Welcome to</p>
    <h1 class="big-font">Event Planner!</h1>
    <h2 class="invert-color">create your own event</h2>
    <div class="invert-color flex">
        <a class="buttons-main text-container" role="button" ui-sref="login" id="signin-title" aria-label="welcome to the event planner, sign-in if you are new user to create your own events">Sign-In</a>
        <a class="buttons-main text-container" role="button"  ui-sref="registration" id="signup-title" aria-label="are you already registered? sign-up to create your own events">Sign-Up</a>
    </div>
</div>
</section>