<section>
    <form class="main-title">
        <label for="reg-name">Name</label><br>
        <div class="buttons-main text-container">
            <input id="reg-name" class="input-text" type="text" name="fname" ng-model="reg.name" maxlength="30"
                minlength="4" autofocus required>
        </div><br>
        <label for="reg-email">email</label>
        <div class="buttons-main text-container">
            <input id="reg-email" class="input-text" type="email" name="email" ng-model="reg.email" minlength="4"
                required>
        </div><br>
        <label for="password-reg">Password</label>
        <div class="buttons-main text-container">
            <input id="password-reg" class="input-text" type="password" name="password" ng-model="reg.password"
                autocomplete="off" required>
        </div><br>
        <input class="invert-color buttons-main text-container" type="submit" value="Sign Up" ng-click="reg.validation()">
    </form>
</section>